/Makefile*
/build
/build.dbg
/test/test_files/*
/test/images/*
/test/diff_dir/*
/test/output/*
/test/*.txt
/test/*.html
/test/*.css
/qbs-*/
/ipch
/src/precompiled/*.cpp
build.bat

Makefile
*.sln
*.vcproj
*.vcxproj
!sneakPic-qbs.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sdf
*.opensdf
*.suo
*.pdb
*.ncb
*.idb
*.obj
*.pro.user
