/Makefile*
/build
/build.dbg
/test/test_files/*
/test/images/*
/test/diff_dir/*
/test/output/*
/test/*.txt
/test/*.html
/test/*.css
build.bat

Makefile
*.sln
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sdf
*.opensdf
*.suo
*.pdb
*.ncb
*.idb
*.obj
